*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/gradle/wrapper/gradle-wrapper.jar
/app/release
gradlew.bat
.externalNativeBuild
.cxx
local.properties
*~
.desktop.el*
/nobackup
/stuff
app/src/main/mkresource.pl
